.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


  .price-cont{
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .cart-button{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 55%;
  }
  .remove-btn{
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .price{
    font-size: 25px;
  }

  @media screen and (max-width:768px) {
    .product-card{
      height: 50rem;
    }
    .price-cont{
      display: block;
    }
    .cart-icon{
      display: none;
    }
    .cart-button{
      width: 110px
    }
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
